@model BikeStore.Models.Login

@{
    ViewData["Title"] = "Login";
}

<style>
    .input-validation-error {
        border: 1px solid #ff0000 !important;
        background-color: #ffeeee !important;
    }
</style>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js?render=6LcLqMEUAAAAAF-PBDCVkJGhpFgrLaMVOCjibiHP"></script>
<script>
    grecaptcha.ready(function () {
        grecaptcha.execute('6LcLqMEUAAAAAF-PBDCVkJGhpFgrLaMVOCjibiHP', { action: 'homepage' }).then(function (token) {
            document.getElementById("endForm").value = token;
        });
    });
</script>





<div class="container p-4">
    <p>@TempData["email"]</p>
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <h1>Welcome, @User.Identity.Name</h1>
        <p>
            @foreach (var claim in Context.User.Claims)
            {
                <!--<div><code>@claim.Type</code>: <strong>@claim.Value</strong></div>-->
                <div>@claim.Value</div>
            }
        </p>
        <a class="btn btn-lg btn-danger" href="/signout?returnUrl=%2F">Sign out</a>
    }
    else
    {
        <div class="row">
            <div class="col-6">
                <h1>Local Login</h1>
                <hr />
                @if (ViewBag.Error != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show border border-info" role="alert">
                        <strong><h4 class="alert-heading">Oops!</h4></strong>
                        <p>@ViewBag.Error</p>
                        <hr>
                        <p class="mb-0">Please try to login again or register with an email!</p>
                    </div>
                }
                <div class="row d-flex">
                    <div class="col-md-6">
                        <form asp-action="Login">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" value="@ViewBag.Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            @if (ViewBag.Error != null)
                            {
                                <div class="form-group">
                                    <span class="text-danger">@ViewBag.Error</span>

                                </div>
                            }
                            <div class="form-group">
                                <input type="submit" value="Login" class="btn btn-primary" />
                            </div>
                            <input type="hidden" id="endForm" name="endForm" />

                        </form>
                        <div>
                            <a class="btn btn-primary text-light" asp-area="" asp-controller="Home" asp-action="RecoverPassword">Forgot Password?</a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-6">
                <h1>External Login</h1>
                <hr />
                <a class="btn btn-lg btn-success" href="/signin?returnUrl=%2F">Sign in</a>
            </div>

        </div>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
