@model IEnumerable<BikeStore.Models.Product>

@{
    ViewData["Title"] = "Details";
}
    <div class="container p-4">
        <h1>Products</h1>

        <form asp-controller="Products" asp-action="Compare", method="post">
            <table class="table">
                <thead>
                    <tr>
                        @{
                            var nameOrder = "";
                            var numberOrder = "";
                            var colorOrder = "";
                            var priceOrder = "";
                            var sizeOrder = "";
                            var weightOrder = "";

                            switch (ViewBag.SortOrder)
                            {
                                case "name":
                                    nameOrder = "^";
                                    break;
                                case "number":
                                    numberOrder = "^";
                                    break;
                                case "color":
                                    colorOrder = "^";
                                    break;
                                case "price":
                                    priceOrder = "^";
                                    break;
                                case "size":
                                    sizeOrder = "^";
                                    break;
                                case "weight":
                                    weightOrder = "^";
                                    break;
                                case "name_desc":
                                    nameOrder = "v";
                                    break;
                                case "number_desc":
                                    numberOrder = "v";
                                    break;
                                case "color_desc":
                                    colorOrder = "v";
                                    break;
                                case "price_desc":
                                    priceOrder = "v";
                                    break;
                                case "size_desc":
                                    sizeOrder = "v";
                                    break;
                                case "weight_desc":
                                    weightOrder = "v";
                                    break;
                            }
                        }
                        <th>
                        </th>
                        <th>
                            <a asp-action="Details" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name) @nameOrder</a>
                        </th>
                        <th>
                            <a asp-action="Details" asp-route-sortOrder="@ViewData["NumberSortParm"]">@Html.DisplayNameFor(model => model.ProductNumber) @numberOrder</a>
                        </th>
                        <th>
                            <a asp-action="Details" asp-route-sortOrder="@ViewData["ColorSortParm"]">@Html.DisplayNameFor(model => model.Color) @colorOrder</a>
                        </th>
                        <th>
                            <a asp-action="Details" asp-route-sortOrder="@ViewData["PriceSortParm"]">@Html.DisplayNameFor(model => model.ListPrice) @priceOrder</a>
                        </th>
                        <th>
                            <a asp-action="Details" asp-route-sortOrder="@ViewData["SizeSortParm"]">@Html.DisplayNameFor(model => model.Size) @sizeOrder</a>
                        </th>
                        <th>
                            <a asp-action="Details" asp-route-sortOrder="@ViewData["WeightSortParm"]">@Html.DisplayNameFor(model => model.Weight) @weightOrder</a>
                        </th>
                        <th>
                            Compare
                        </th>
                    </tr>
                </thead>
                <tbody onload="UpdateHighlight()">
                    @foreach (var item in Model)
                    {
                        <tr onclick="SelectRow(this)">
                            <td>
                                <!--Want To Do--ATHtml.ActionLink(<img src="data:image/jpeg;base64,AT(Convert.ToBase64String(item.ThumbNailPhoto))" width="50" height="30" />, "Product", new { id = item.ProductId })-->
                                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.ThumbNailPhoto))" width="50" height="30" />
                            </td>
                            <td>
                                @Html.ActionLink(item.Name, "Product", new { id = item.ProductId })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductNumber)
                            </td>
                            <td>
                                @if (item.Color != null)
                                {
                                    @Html.DisplayFor(modelItem => item.Color)
                                }
                                else
                                {
                                    @Html.Raw("N/A")
                                }
                            </td>
                            <td>
                                @if (item.OnSale == true)
                                {
                                    if (item.Discount != 0)
                                    {
                                        <div>
                                            <span>
                                                <del>@Html.Raw("$")@Html.DisplayFor(modelItem => item.ListPrice)@Html.Raw(" CAD")</del>
                                            </span>
                                            <span class="text-danger font-weight-bold h6">
                                                @Html.Raw("   $")@Html.DisplayFor(modelItem => item.DiscountPrice)@Html.Raw(" CAD")
                                            </span>
                                        </div>
                                    }
                                }
                                else
                                {
                                    @Html.Raw("$")@Html.DisplayFor(modelItem => item.ListPrice)@Html.Raw(" CAD")
                                }
                            </td>
                            <td>
                                @if (item.Size != null)
                                {
                                    @Html.DisplayFor(modelItem => item.Size)
                                    @if (double.TryParse(item.Size, out double x)){
                                        @Html.Raw("\"")
                                    }
                                }
                                else
                                {
                                    @Html.Raw("N/A")
                                }
                            </td>
                            <td>
                                @if (item.Weight != null)
                                {
                                    @String.Format("{0:N}", (item.Weight / 1000)) @Html.Raw(" kg")
                                }
                                else
                                {
                                    @Html.Raw("N/A")
                                }

                            </td>
                            <td>
                                <input type="checkbox" name="@item.ProductId"  />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div>
                <input class="btn btn-warning btn-outline-dark" type="submit" value="Compare" />
            </div>
        </form>
    </div>

